 # Bootcamp Assignment 2
 Sheetal Malhotra (96101)

# Q1. Given a list of integers, remove all occurrences of a specific value using a list method.Â¶

In [22]:
l = [1, 2,2,2,2,3,3,2,3,5,4,4,4, 4, 2, 2, 5, 2]
value_to_remove = 3
l.remove(value_to_remove)
l = [x for x in l if x != value_to_remove]
l

[1, 2, 2, 2, 2, 2, 5, 4, 4, 4, 4, 2, 2, 5, 2]

#### Q2.	Concatenate a list of strings into a single string, with each element separated by a space, using a list method.

In [24]:
l1 = ["Python","Programming","Language","is","suitable","for","AI-ML"]
result = " ".join(l1)
result

'Python Programming Language is suitable for AI-ML'

#### Q3.	Reverse a list of integers using a built-in list method.

In [25]:
l3 = [1,2,3,4,5,6,9,0]
l3.reverse()
l3

[0, 9, 6, 5, 4, 3, 2, 1]

#### Q4.	Sort a list of numbers in descending order using a built-in list method.

In [26]:
l4 = [12,3,51,6,7,78,12,5,6,7,8]
l4.sort(reverse=True)
l4

[78, 51, 12, 12, 8, 7, 7, 6, 6, 5, 3]

#### Q5.	Given two lists, combine them into a single list and remove any duplicate elements using a list method.

In [27]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7,8,9]
combined_list = list(set(list1 + list2))
combined_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Q6.	Convert a tuple of integers into a list and remove the first and last elements using a tuple method.

In [7]:
t = (3,8,5,1,9,4)
t1=list(t)[1:-1]
# tup = t1[1:-1]
t1

[8, 5, 1, 9]

#### Q7.	Given a list of tuples, extract all the first elements of each tuple into a separate list using tuple unpacking.

In [8]:
ls = [(1,2),(3,4),(5,6)]
sep = [x for x, _ in ls]
sep

[1, 3, 5]

#### Q8.	Combine two tuples into a single tuple.

In [9]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
comb_tuple = tuple1 + tuple2
comb_tuple

(1, 2, 3, 4, 5, 6)

#### Q9.	Find the maximum and minimum values in a tuple of numbers using tuple methods.

In [10]:
num = (10, 20, 5, 40, 30)
maxi = max(num)
mini = min(num)
print(maxi)  
print(mini)

40
5

#### Q10.	Convert a tuple of strings into a single string, with each element separated by a comma, using tuple methods.

In [11]:
s_tup = ("How", "are", "you")
comb_s = ', '.join(s_tup)
comb_s

'How, are, you'

#### Q11.	Given two sets, return the union of the two sets using a set operation.

In [12]:
set1 = {1, 2, 3}
set2 = {3, 4, 1, 5}
opr = set1.union(set2)
opr
# set_opr = set1 | set2

{1, 2, 3, 4, 5}

#### Q12.	Find the intersection of two sets using a set method.

In [13]:
inter_opr = set1.intersection(set2)
inter_opr

{1, 3}

#### Q13.	Remove all elements from one set that are also present in another set using a set method.

In [14]:
set1.intersection_update(set2)
set1

{1, 3}

#### Q14.	Find the difference between two sets using a set method.

In [15]:
diff_opr = set1.difference(set2)
diff_opr

set()

#### Q15.	Convert a list of integers into a set and then back to a list to remove duplicates, using set operations.

In [16]:
num_list = [1, 2, 3, 4, 5, 1, 2, 3]
num_set = set(num_list)
s = list(num_set)
s

[1, 2, 3, 4, 5]

#### Q16.	Merge two dictionaries into a single dictionary using a dictionary method.

In [17]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged_dict = {**dict1, **dict2}
merged_dict

{'a': 1, 'b': 3, 'c': 4}

#### Q17.	Extract all values from a dictionary into a list using a dictionary method.

In [18]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
values_list = list(my_dict.values())
values_list

[1, 2, 3]